/**
 *
 * Pixture, for Drupal
 * Author: PIXTURE STUDIO <http://www.pixture.com>
 *
 */
/*
** Generic elements
*/
html {
	font-size: 100%; /*Fix a IE em BUG*/
}
font, basefont {
	font-size: 100%; /*Fix a IE em BUG*/
}
body {
	font-family: "Helvetica neue", Helvetica, Arial, Verdana, sans-serif;
	font-size:12px;
	margin: 0;
	padding: 0;
	text-align: center; /* IE5 hack */
	background: #152130 url("images/bg-header.png") repeat-x top left;
	min-width: 800px;
	color: #8e8ea9;
}
div#wrapper {
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 0px;
	line-height: 1em;
	background: transparent;
}

div#container {
	margin: 0px;
	padding: 0px;
	text-align: left; /* IE5 hack */
	line-height:1.5em;
	background: transparent;
}
table, tr, td, thead, tbody {
	border-spacing: 0;
	border-collapse: collapse;
	border-width: 0px;
}
.sticky-header tr, .sticky-header th, .sticky-header thead {
	/* sticky list header for Drupal 6.x */
	background: #152130;
}
tr.odd td, tr.even td {
  padding: 0.4em;
}
tr.odd {
	background: #152130;
	border-bottom: solid 1px #4c5365;
}
tr.even {
	background: #2b354d;
	border-bottom: solid 1px #4c5365;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.3em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3, h4, h5, h6 {
  font-size: 1.1em;
}
p {
  margin-top: 0.4em;
  margin-bottom: 0.8em;
}
em {
	text-decoration: none;
	font-weight: normal;
}
div#cr8 {
	padding-top: 8px;
}
table {
	/* make <td> sizes relative to body size! */
	font-size: 1em;
	width: 100%;
	margin: 0px;
}
.form-item label {
	font-size: 1em;
	color: #aaaaaa;
	font-weight: normal;
}
ul {
	padding: 0;
	padding-left: 1em;
	margin: 0px;
}
li {
	padding: 0;
	margin: 0px;
	padding-left: 0;
	line-height: 1.6em;
}
li a, li a:visited, li a:active, li a:hover {
	font-weight: normal;
}

.item-list ul {
	padding: 0px;
	margin: 0px;
}
.item-list ul li {
	font-size: 11px;
}
.item-list .title {
  font-size: 1em;
}
div.links {
	margin-bottom: 0;
	margin-top: 10px;
	text-align: right;
}
ul.links li {
	padding: 0px 0px 0px 10px;
	margin: 0;
}
.comment .links {
  margin-bottom: 0;
}
.more-link, .more-link a {
	font-size: 11px;
	font-weight: normal;
}

/*
** Page layout blocks / IDs
*/
#content {
	width: 100%;
}

/*
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 auto;  
}
*/

.submitted {
  color: #666677;
  font-size: 0.8em;
}
.links {
  color: #666677;
}
.links a {
	font-size: 11px;
	font-weight: normal;
}

/*-------------------------------------------------------------------*/
/*                          Basic Text Colors                        */
/*-------------------------------------------------------------------*/
a, a.active {
	text-decoration: none;
	font-weight: bold;
	color: #eee887;
}
a:link, a.active:link {
	color: #eee887;
}
a:visited, a.active:visited {
	color: #ddd877;
}
a:hover, a.active:hover {
	color: #fff897;
	text-decoration: underline;
}
a:focus, a.active:focus {
	outline: none;
}

/*-------------------------------------------------------------------*/
/*                               Header                              */
/*-------------------------------------------------------------------*/
table#header {
	width: 100%;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
	line-height: 0em;
	margin-bottom: 20px;
}
table#header tr {
	padding: 0px;
	margin: 0px;
}
.silhouette-1 {
	background: url("images/header-city.png") no-repeat bottom left;
}
.silhouette-2 {
	background: url("images/header-mountain.png") no-repeat bottom left;
}
.silhouette-3 {
	background: url("images/header-western.png") no-repeat bottom left;
}
.silhouette-4 {
	background: url("images/header-palm.png") no-repeat bottom left;
}
.silhouette-5 {
	background: url("images/header-farm.png") no-repeat bottom left;
}
#logo {
	width: 10px;
	height: 100px;
	padding: 0px;
	margin: 0px;
}
#pad {
	width: 10px;
	height: 68px;
	padding: 0px;
	margin: 0px;
}
#pad2 {
	width: 10px;
	padding: 0px;
	margin: 0px;
}
#site_name {
	text-align: left;
	height: 68px;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
	overflow: hidden;
	padding-top: 5px;	/* for image title */
}
#site_name h1 {
	text-align: left;
	font-size: 36px;
	line-height: 1em;
	padding: 0px 5px;
	margin: 0px;
	font-family: Georgia, Times, serif;
}
#site_name h1 a:hover {
	text-decoration: none;
}
#site_name .site-slogan {
	color: #eeeeee;
	font-size: 1em;
	line-height: 1em;
	padding: 0px;
	margin: 0px;
	text-align: left;
	padding-left: 7px;
	padding-bottom: 2px;
	padding-top: 0px;
}
#site_search {
	margin: 0px;
	padding: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	text-align: right;
	vertical-align: middle;
}
/*-------------------------------------------------------------------*/
/*                          Regular Blocks                           */
/*-------------------------------------------------------------------*/
/*
 we do not define regular blocks. use the default.
*/
.block .links {
	font-size: 11px;
}
.block .content {
	padding: 10px 5px;
}

/*-------------------------------------------------------------------*/
/*                              Regions                              */
/*-------------------------------------------------------------------*/
#main-content {
	width: 100%;
}
#main {
	/* padding in px not ex because IE messes up 100% width tables otherwise */
	padding: 0px 20px 10px 20px;
}
#mission, .node .content, .comment .content {
  line-height: 1.5em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
	padding: 0px;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
	padding: 0px 20px 20px 20px;
	vertical-align: top;
}
#sidebar-left {
	width: 220px;	/* needed for Drupal 6.x */
	padding-right: 0px;
}
#sidebar-right {
	width: 220px;	/* needed for Drupal 6.x */
	padding-left: 0px;
}
div#footer {
	padding: 15px;
	text-align: center;
	font-size: 11px;
	color: #ffffff;
	border: solid 0px #000000;
	border-top: solid 1px #0b152f;
	background: #152130 url("images/bg-header.png") repeat-x center left;
	line-height: 1.5em;
}
#footer a {
	text-decoration: underline;
	font-weight: bold;
}
#footer .block .block-bc, #footer .block .block-tc {
	padding: 0px;
	margin: 0px;
	width: 100%;
	padding-top: 2px;
}
#footer .block .content {
	padding: 0px;
	margin: 0px;
}

/*-------------------------------------------------------------------*/
/*                          Sidebar Blocks                           */
/*-------------------------------------------------------------------*/
.sidebar .block {
	width: 220px;	/* needed for IE */
	margin: 0px;
	padding: 5px;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 20px;
	background: #263140;
}
.sidebar .block h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 2px;
	text-align: center;
	border-bottom: solid 1px #3c4654;
}
.sidebar .block li.expanded {
	border-bottom: solid 0px #ffffff;
}
.sidebar .block h3 {
	padding: 0px 3px;
	font-size: 12px;
}
.sidebar .block .title {
	font-size: 1em;
	margin-bottom: 0.3em;
}
.sidebar .block ul.links li {
	font-size: 10px;
}


/*-------------------------------------------------------------------*/
/*                                Poll                               */
/*-------------------------------------------------------------------*/
.poll .bar {
	background-color: #3c4654;
	border: solid 0px #3c4654;
}
.poll .bar .foreground {
	background: url("images/bg-tab-c.png") repeat-x center left;
}

/*-------------------------------------------------------------------*/
/*                             Top Image                             */
/*-------------------------------------------------------------------*/
.top-image {
	overflow: hidden;
	margin-bottom: 4px;
}
/*-------------------------------------------------------------------*/
/*                               Node                                */
/*-------------------------------------------------------------------*/
.node {		/* full node */
	margin: 0;
	margin-bottom: 20px;
	padding: 0px;
	padding: 10px 10px 5px 10px;

/*
	background: #152130 url("images/bg-node.png") repeat-x top left;
*/
	border-top: solid 1px #313c4b;
	overflow: hidden;
}
.sticky {
	border: dashed 1px #505769;
	background: #263140;
}
.teaser {
/*
	background: #152130 url("images/bg-node.png") repeat-x top left;
	border: solid 0px #313c4b;
*/
	border: solid 0px #313c4b;
	border-bottom: solid 1px #313c4b;
}
.banner {
	background: none;
	margin: 0px;
	margin-bottom: 10px;
	line-height: 0.5em;
	padding: 0px;	
	border: solid 0px #ffffff;
}
.banner p {
	margin: 0px;
	padding: 0px;
}

.node .content, .comment .content {
	clear: both;
	margin: 1em .5em .5em .5em;
}
.node .taxonomy {
	font-size: 0.8em;
	padding-left: 1.5em;
}
.node .taxonomy li {
	padding: 1px 5px;
}
.node .taxonomy li a {
	color: #eec887;
}
.node .picture {
	border: 1px solid #dddddd;
	float: right;
	margin: 0.5em;
}
.node table.nodetitle {
	margin-bottom: 5px;
}
.node .submitted {
	color: #888888;
}
.node .submitted a {
	color: #eec887;
}
.node div.links {
}
.node h2.title {
	font-size: 18px;
}
.node h2.title a:hover {
	text-decoration: none;
}
.node h2.title {
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

h1.pagetitle {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 10px;
	padding: 5px 10px 3px 10px;
	background: #47515e;
}

/*-------------------------------------------------------------------*/
/*                              Comments                             */
/*-------------------------------------------------------------------*/
.comment {
	margin: 5px;
	margin-bottom: 20px;
	padding: 0px;
	border: 1px solid #3c4654;
}
.comment .title a {
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px;
}
.comment .content {
	padding: 0px 10px;
}
.comment .new {
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
	font-size: 0.8em;
	float: right;
	color: red;
}
.comment .picture {
	border: 1px solid #263140;
	float: right;
	margin: 0.5em;
}
.comment .comment-id {
	font-size: 16px;
	font-weight: bold;
	padding-right: 10px;
	color: #ffffff;
}
.comment .submitted {
	font-size: 11px;
	margin-bottom: 10px;
	padding: 4px 5px;
	background: #263140;
	color: #aaaaaa;
}
.comment div.links {
	padding: 5px;
	margin-top: 0px;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}

/*-------------------------------------------------------------------*/
/*                               Forum                               */
/*-------------------------------------------------------------------*/
#forum table {
	margin-top: 10px;
	width: 100%;
	border: solid 0px #ffffff;
}
#forum {
	margin: 15px 0px;
}
#forum td.container {
	background: #424b63;
	border-bottom: solid 1px #263140;
}
#forum thead, #forum tbody {
	border: solid 0px #ffffff;
}
td.icon {
	text-align: center;
}
#forum td.forum {
	margin: 0px;
	padding: 0px;
}
#forum td.last-reply {
	background: none;
}
#forum .name a {
	margin: 0px;
	padding: 0px;
}
#forum .description {
	padding: 0px;
	margin: 0;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.forum-topic-navigation a.topic-next {
	text-align: right;
}
div.forum-topic-navigation a.topic-previous {
	text-align: left;
}

/*-------------------------------------------------------------------*/
/*                              Profile                              */
/*-------------------------------------------------------------------*/
#profile .profile {
  clear: both;
  border: 1px solid #aaaaaa;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
/*-------------------------------------------------------------------*/
/*                             Administer                            */
/*-------------------------------------------------------------------*/
div.admin, div.admin .left, div.admin .right {
	margin: 0px;
	padding: 5px;
	overflow: hidden;
}
div.admin-panel {
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
	background: #263140;
}
div.admin-panel a {
	font-weight: normal;
	overflow: hidden;
}
div.admin-panel .description {
}
div.admin-panel .body {
	font-size: 11px;
}
div.admin-panel h3 {
	padding: 6px 8px;
	margin: 0;
	border-bottom: solid 1px #3c4654;
}
div.help {
	margin: 0px;
	padding: 2px 5px;
	margin-top: 5px;
}
div.admin-dependencies, div.admin-required {
	color: #888888;
}

.messages {
  background-color: #263140;
  border: 1px solid #313c4b;
  padding: 0.3em;
  margin-bottom: 1em;
}
.messages li {
	margin-left: 10px;
}
/*-------------------------------------------------------------------*/
/*                              Field Set                            */
/*-------------------------------------------------------------------*/
fieldset {
	border: solid 1px #313c4b;
}

/*-------------------------------------------------------------------*/
/*                                Pager                              */
/*-------------------------------------------------------------------*/
/*---- for Drupal 5.x ----*/
div.pager {
	margin: 5px;
	padding: 5px 0px;
	font-size: 13px;
}
.pager-list {
	margin: 0px;
	padding: 0px;
}
.pager a {
	background: #fff4e8;
	margin: 2px;
	padding: 4px 8px;
	background: url("images/bg-button.png") repeat-x center center;
}
.pager a:hover {
	background: url("images/bg-abutton.png") repeat-x center center;
}
.pager strong.pager-current {
	color: #ffffff;
	margin: 2px;
	padding: 4px 8px;
	background: url("images/bg-abutton.png") repeat-x center center;
}
/*---- for Drupal 6.x ----
div.item-list ul.pager li {
	padding: 0px;
	margin: 0px;
}
ul.pager {
	padding: 5px 0px;
	margin: 0px;
}
ul.pager li {
	padding: 0px;
	margin: 0px;
}
div.item-list ul.pager li.pager-current {
	color: #ffffff;
	margin: 2px;
	padding: 4px 8px;
	background: #e0a366;
}
.pager a {
	margin: 2px;
	padding: 4px 8px;
	background: url("images/bg-button.png") repeat-x center center;
}
.pager a:hover {
	background: url("images/bg-abutton.png") repeat-x center center;
}
*/
/*-------------------------------------------------------------------*/
/*                                Tabs                               */
/*-------------------------------------------------------------------*/
.tabs {
	font-size: 12px;
}
.tabs a {
	font-weight: normal;
	line-height: 2.1em;
}
.tabs ul {
	padding: 0;
	margin: 0;
	padding-left: 5px;
	margin-bottom: 10px;
	border-bottom: solid 0px #000000;
}
.tabs ul li {
	background: #152130;
}
.tabs ul li a {
	margin: 0px;
	padding: 5px 10px;
	background: url("images/bg-button.png") repeat-x center center;
	border: solid 0px #000000;
}
.tabs ul li a:hover {
	background: #263140;
	background: url("images/bg-abutton.png") repeat-x center center;
	border: solid 0px #000000;
}
.tabs ul li a.active, .tabs ul li.active a {
	color: #ffffff;
	padding: 5px 10px;
	background: url("images/bg-abutton.png") repeat-x center center;
	border: solid 0px #000000;
}
.tabs ul li a.active:hover {
	text-decoration: underline;
	background: url("images/bg-abutton.png") repeat-x center center;
	border: solid 0px #000000;
}
ul.secondary {
	border: solid 0px #000000;
}
ul.secondary li {
	font-size: 11px;
	margin: 0;
	padding: 0;
	border: solid 0px #000000;
	background: #152130;
}
ul.secondary li a {
	margin: 0;
	padding: 3px 5px;
	margin-right: 2px;
	margin-left: 0px;
}
ul.secondary li.active a.active {
	margin: 0;
	padding: 3px 5px;
	margin-right: 2px;
	margin-left: 0px;
}

/*-------------------------------------------------------------------*/
/*                              Mission                              */
/*-------------------------------------------------------------------*/
#mission {
	margin: 0px 20px 15px 20px;
	padding: 5px 10px;
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
	border-bottom: solid 2px #313c4b;
}

/*-------------------------------------------------------------------*/
/*                      Archive Calendar Block                       */
/*-------------------------------------------------------------------*/
.sidebar .block-archive .content {
	padding: 15px 5px 10px 5px;
}
.sidebar .block-archive .content tr {
	background: none;
}
.sidebar .block-archive .content table td {
	border: solid 1px #424b63;	/* a bit darker than block background */
	padding: 1px 2px;
	text-align: center;
}
#archive-container {
	padding-bottom: 10px;
}
#archive-container dd ul {
	border: solid 1px #313c4b;
	background: transparent;
	background: #152130;
	padding: 0px;
}
#archive-container dl dt {
	border: solid 0px #313c4b;
	padding: 0px;
	margin: 0px;
	background: transparent;
}
#archive-container dd {
	border: solid 0px #313c4b;
	padding: 0px;
	margin: 0px;
	background: transparent;
}
dl {
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}
dl dt {
	padding: 0px;
	margin: 0;
}
dd ul#archive-days {
	border: solid 0px #313c4b;
	border-bottom: solid 1px #313c4b;
	margin: 2px;
}
dd ul#archive-months {
	border: solid 0px #313c4b;
	border-bottom: solid 1px #313c4b;
	margin: 2px;
}
dd ul#archive-years {
	border: solid 0px #313c4b;
	border-bottom: solid 1px #313c4b;
	margin: 2px;
}

/*-------------------------------------------------------------------*/
/*                        Image Galleries                            */
/*-------------------------------------------------------------------*/
ul.galleries li {
	border: solid 1px #313c4b;
	background: #152130;
}
ul.galleries li h3 a {
	font-size: 1.1em;
	font-weight: bold;
	
}
ul.images {
	border: solid 1px #313c4b;
	overflow: hidden;
}
ul.images li {
	text-align: center;
}
ul.images li h3 {
	margin: 0px;
	padding: 0px;
}

/*-------------------------------------------------------------------*/
/*                        Book Navigation                            */
/*-------------------------------------------------------------------*/
.box {
	background: #263140;
	padding: 5px;
	padding: 10px;
}
.box h2 {
	padding-bottom: 2px;
	border-bottom: solid 1px #3c4654;
}
.book-navigation {
	padding-bottom: 5px;
}
.book-navigation ul.menu {
	padding-top: 5px;
	padding-bottom: 5px;
}
div.page-links a.page-previous {
	width: 40%;
	padding: 0px;
	margin: 0px;
}
div.page-links a.page-up {
	width: 19%;
	padding: 0px;
	margin: 0px;
}
div.page-links a.page-next {
	width: 40%;
	padding: 0px;
	margin: 0px;
}

/*-------------------------------------------------------------------*/
/*                          Misc for Contents                        */
/*-------------------------------------------------------------------*/
pre {
	margin: 0px 3px;
	padding: 5px;
	background: #000000;
	color: #dddddd;
	white-space: -moz-pre-wrap;	/* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
	line-height: 1.5em;
	border: solid 1px #263140;
}

blockquote {
	margin: 4px 10px;
	padding: 10px 15px;
	background: #263140;	/* same as block content background color */
}

/*******************************************************************
* Color Module: Don't touch                                       *
*******************************************************************/
#site_name h1 a {
	color: #ffffff;
}

/*-------------------------------------------------------------------*/
/*                              Others                               */
/*-------------------------------------------------------------------*/
.pushbutton, button, .form-submit {
	margin-bottom: 1px;
	cursor: pointer;
	padding: 2px 10px;
	font-weight: normal;
	font-size: 12px;

	border: solid 1px #444444;
	border-top: solid 1px #777777;
	border-left: solid 1px #777777;
	color: #ffffff;
	background: url("images/button.gif") repeat-x center;
}
.pushbutton:hover, button:hover, .form-submit:hover {
	border: solid 1px #444444;
	border-top: solid 1px #777777;
	border-left: solid 1px #777777;
	color: #ffffff;
	background: url("images/button-o.gif") repeat-x center;
}

/*-------------------------------------------------------------------*/
/*                             Top Menu                              */
/*-------------------------------------------------------------------*/
#menu {
	vertical-align: middle;
	padding: 0px 10px;
	padding-top: 2px;
	padding-bottom: 3px;
	/* to align menu tabs to the left, change below */
	text-align: right;
}
#menu ul li {
	list-style-type: none;
	list-style-image: none;
}

#navlist {
	font-size: 1.0em;
	padding: 3px 0px 0px 0px;
	list-style-type: none;
	list-style-image: none;
}
#navlist li {
	padding: 0px;
	list-style-type: none;
	list-style-image: none;
}
#navlist a {
	padding: 5px 10px 4px 10px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background: url("images/bg-tab-c.png") repeat-x top left;
	border-width: 0px;
}
#navlist a.active {
	padding: 5px 10px 8px 10px;
	background: url("images/bg-atab-c.png") repeat-x top left;
	border-width: 0px;
}


#subnavlist {
  padding: 0.5em 1.2em 0.4em 0;
  font-size: 0.8em;
  color: #aaaaaa;
}
#subnavlist a {
  font-weight: bold;
  color: #aaaaaa;
}

div#search {
	margin-right: 10px;
	text-align: right;
	font-size: 11px;
	margin-top: 26px;	/* this is a MUST for Safari */
}
#search .form-text {
	width: 10em;
	padding: 2px 2px;
	border: solid 1px #888888;
}
div#search label {
	color: #ffffff;
	padding: 2px;
}

